# This file uses the structure defined by the (Github COLON LINK) repository.
# Example files for each area can be found under the corresponding folder
# Configurations in alphabetical order as they are described in the /colon directory

# configurations are listed in alphabetical order 

#===========================================================#
#                Custom Configuration                       #
#===========================================================#

# add whatever eles you think you need to the project, youre the xpert lol

[include custom.cfg]

#===========================================================#
#                Hotend Configuration                     #
#===========================================================#

# This file will contain the configurations for the hot side of your printer
# These vary widely so there are some base example configurations in each of the folders. The naming
# convention for the files are {CowlName}_{HotendName}_{ExtruderName}.cfg

# again feel free to create you own configuration and upload them to the directory

[include dragonburner_dragonv6_orbitter2.cfg]

#===========================================================#
#                Macros Configuration                       #
#===========================================================#

# This project stores marcros as individual funtions. This way you know exactly what
# macros you have added and what you have not. Feel free to add as many files here 
# as you would like. 

[include start.txt]
[include Macro_Bedlevel.txt]
[include Macro_]


#===========================================================#
#                MCU Configuration                          #
#===========================================================#

[include mcu.cfg]


#===========================================================#
#                Motherboard Configuration                  #
#===========================================================#

# Contains the pin mappings for each specific mother board, then translates
# those mappings into variables that can be easily used in other locations in your 
# klipper project. Requires use of the variables.cfg  

[include motherboard.cfg]


#===========================================================#
#                Print Bed Configuration                    #
#===========================================================#

# Each print bed is named by its size. This makes these configurations
# universal across multiple different machines. This file will also contain the configurations for the bed mesh.
# admitedly these will be conservative 
# bed within (Another file idk which one yet)

[include 300x300.cfg]



#===========================================================#
#                Probe Configuration                        #
#===========================================================#

# Probes can be mounted in many different locations. Some printers use them and some dont
# This are is broken out so you can select your probe configuration, many options to choose from so feel 
# Free to select whatever works for you 

[include probe.cfg]


#===========================================================#
#                Profile  Configurtion                      #
#===========================================================#

# Defines the name of the printer if this is one that was purchased 
# from a retailer. This will contain the min/max settings for the printer. 
# Things like maximum speed

# inspired by years of gaming, these are the min/ max settings that 
# your configuration can handle, feel free to be agressive or not, 
# most of this adjustment is done in the slicer 


[include creality_ender5plus_aggressive.cfg]



#===========================================================#
#                SD Card Configuration                      #
#===========================================================#

[include sd.cfg]




#===========================================================#
#                Stepper Configuration                      #
#===========================================================#

[include stepper.cfg]



#===========================================================#
#                Variables Configuration                    #
#===========================================================#

# variables defined in the project 

[include variables.cfg]